@{
    ViewData["Title"] = "Characters";
}

<div class="text-center mb-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <div class="row justify-content-center">
        @foreach (var item in Model.Results)
        {
            <div class="card-container">
                <div class="card-obj card col-4">
                    <div class="card-header bg-white">
                        <figure>
                            <img class="card-img" src="@item.Image" alt="@item.Name Image">
                        </figure>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@item.Name</h2>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="">
    <nav aria-label="Navegação de página">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            
            @for (int i=1; i <= Model.Info.Pages; i++) {
                <li id="page-@i" class="page-item"><p class="page-link">@i</p></li>
            }

            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
    </nav>
</div>

